@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@600;700&display=swap|Lato:ital,wght@1,700&family=Tangerine:wght@400;700&display=swap");
/*--------------------------------heading*/

.logo{
    background-color: rgb(0,140,69);
    font-family: Tangerine, cursive;
    letter-spacing: 5px;
    height: 150px;
    left: 0px;
    max-width: 33%; 
}


.logo h1{
    Font-size: calc(1rem + 8vmin);    
     
}

a{
    color: black;

}

.logo2{
    background-color:#F4F5F0;
    height: 150px;
    max-width: 33%;  
}

.logo1{
     background-color: rgb(255,33,42);
     height: 150px;
     text-align: left;
     max-width: 33%;      
}

header{
    border:1px solid black;
}

.navbar{
    margin-top:30px;
    Font-size: calc(0.8rem + 6vmin);
    font-family:Tangerine;
    position:relative;
    left:10px;
    width: 100%;
    bottom:20px;
    
    
}

.res-nav{
    color:whitesmoke;
    position: relative;
    bottom:20px;
}


.navbar-nav #gal-nav {
  position: absolute;
  top: 400%;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}
.navbar-nav #res-nav {
  position: absolute;
  top: -25%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  
}
.navbar-nav #home-nav {
  position: absolute;
  top: 400%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}

.logo #pizza-logo{
   
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*--------------------------------section index.html*/
#back-image{
    background: url("../img/back-index.jpg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

section h2{
    margin-bottom:50px;
    font-family: Tangerine, cursive;
    font-size: 69px;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/restaurant.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: Lato,sans-serif;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#img-hero{
    display:block;
    margin:0px auto;
    text-align:center;
    margin-top:30px;
    animation-name: pizza-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


/* Style the button and place it in the middle of the container/image */
.container #btn-up {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  

}
.container #btn-down {
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  

}
#btn-up{
    position: relative;
    top:300px;
    left:310px;
     z-index: 1;

}
.container{
    margin-top:40px;
}
.container-fluid{
    margin-top: 30px;
}
.pizza1{
    background: url("../img/pizza1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 30%;
    box-shadow: 5px 5px 15px 4px #999;
   width: 100%;
   
}
p {
font-family: Lato, san-serif;
letter-spacing: 3px;
}

.description{
    font-size: 22px;
    color: red;
    margin-left: 100px;
    margin-bottom:30px;
}


.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: slategray;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 200px;
  font-family: Lato,sans-serif;
 Font-size: calc(0.4rem + 3vmin);
   border-radius: 20px;
}
.text-block1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: slategray;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width:450px; ;
  font-family: Lato,sans-serif;
   Font-size: calc(0.4rem + 3vmin);
     border-radius: 20px;
}

.image-down{
    border-bottom-right-radius: 30%;
   width: 100%;
    box-shadow: 5px 5px 15px 4px #999;
    margin-bottom:20px;
}
.image-family{
    border-radius: 30%;
    border-bottom-left-radius: 0%;
    width: 100%;
    box-shadow: 5px 5px 15px 4px #999;
    margin-bottom:20px;
     filter: grayscale(100%);

}
.text-block2{
  position: absolute;
  bottom: 25px;
  left: 20px;
  background-color: slategray;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 75%;
   
  font-family: Lato,sans-serif;
 Font-size: calc(0.4rem + 3vmin);
   border-radius: 20px;
}
.container #btn-family {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  

}
@keyframes pizza-zoom {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}


/*---------------------------------footer*/
#footer-detail{
    background-color: rgb(70,60,60,0.6);
    color: white;
}

.col h4{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 8px;

}

.p-footer{
   
    margin-top: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.i-footer{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 2px;
}

#left-footer{
    color: rgb(0,140,69);
    font-weight: bold;

}
#center-footer{
    color:#F4F5F0;
    font-weight: bold;

}
#right-footer{
color: rgb(255,33,42);
font-weight: bold;
}

/*---------------------------------Reservation*/


input[type=text], input[type=email] {
  width: 80%;
  background-color: transparent;
  margin-left:10px;
  border: 1px solid black;
  border-radius: 4px;
}
label{
    margin-left:10px;
}


input[type=time],input[type=date], select, #InputNote, #inputChildren, #inputAdult{
  background-color: transparent;
  border-radius: 4px;
  margin-left:10px;
    border: 1px solid black;
}
input[type=time]{
    width:45%;
    margin-left:5px;
      border: 1px solid black;
}
input[type=date]{
    width:75%;
    margin-left:5px;
      border: 1px solid black;
}
select{
    max-width:30%;
}
#InputNote{
    max-width:75%;
    margin-left:5px;
      border: 1px solid black;
}


#descr-res{
    text-align: center;
    font-family: Tangerine;
    font-size: 400%;
    color:black;
    text-shadow:   2px  2px 4px #777,-2px -2px 4px #777;
    padding-top:40px;
    padding-bottom:30px;
    

}
#form-section{
    background: url("../img/back-res.jpg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    padding-bottom: 170px;

}
.btnRes{
    position: relative;
    left: 10px;
    margin-top: 20px;
}
.name-form{
    margin-top: 20px;
}

.reservation-form{
     margin: 0 auto;
    
     background-color: rgba(248, 246, 246, 0.85);
     border-radius: 5px;
     max-width: 450px;
     box-shadow: 5px 5px 15px 4px #999;
     padding-bottom: 70px;
     
}





/*---------------------------------gallery*/
#gallery{
    padding-top:30px;
    padding-left: 80px;
    letter-spacing: 3px;
    text-shadow:   2px  2px 4px #777,-2px -2px 4px #777;
}

.gallery-container{
    margin:80px 10px 0 10px;
}

.img-gallery{
    border-radius: 10%;
    box-shadow: 5px 5px 15px 4px #999;
}

/*--------------hover*/
.list-inline-item a:hover {
    text-shadow:   2px  2px 4px whitesmoke,
                -2px -2px 4px whitesmoke;
    text-decoration: none;

}
header a:hover{
    color:slategray;
    text-shadow:   2px  2px 4px whitesmoke,
                -2px -2px 4px whitesmoke;
    text-decoration: none;


}
.img-gallery:hover{
    border-radius: 15%;
    box-shadow: 5px 5px 15px 4px whitesmoke;

}

input[type=text]:hover,input[type=email]:hover,input[type=date]:hover,input[type=time]:hover{
    border: 1px solid orange;
  border-radius: 3px;

}
#inputAdult:hover, #inputChildren:hover, #InputNote:hover{
    border: 1px solid orange;
  border-radius: 3px;
}

.btn:hover{
    background-color:orange;
    border-color:orange;
    color:white;
}
/*         ---------media screen header*/



@media screen and (max-width: 1155px) {
    .logo h1{
        position: relative;
        right:-3px;
        
    }
  
  
.container #btn-down {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  

}
.navbar-nav #gal-nav {
 
  left: 40%;
  Font-size: calc(0.7rem + 5vmin);
 
  
}

.navbar-nav #home-nav {
 
  top: 400%;
  left: 12%;
  Font-size: calc(0.7rem + 5vmin);
  
}
.navbar-nav #res-nav {
      top: 35%; 
  Font-size: calc(0.7rem + 5vmin);
  
}
}

@media screen and (max-width:1083px) {
    
    .logo h1{
        position: relative;
        top:10px;
     
        
    }
}

@media screen and (max-width: 920px) {
.container #btn-down {
  
  top: 20%;
  left: 14.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
}
.navbar-nav #gal-nav {
  left: 38%;
  
  Font-size: calc(0.6rem + 4vmin);
 
  
}

.navbar-nav #home-nav {
 
  
  Font-size: calc(0.6rem + 4vmin);
  
}
.navbar-nav #res-nav {
      top: 100%; 
  Font-size: calc(0.6rem + 4vmin);
  
}

 
}

@media screen and (max-width: 800px) {
.navbar-nav #gal-nav {
 
  
  Font-size: calc(0.55rem + 3.5vmin);
 
  
}

.navbar-nav #home-nav {
 left:  8%;
  
  Font-size: calc(0.55rem + 3.5vmin);
  
}
.navbar-nav #res-nav {
      top: 130%; 
  Font-size: calc(0.55rem + 3.5vmin);
  
}

 
}
@media screen and (max-width:767px) {
   
    .container #btn-up {
  
  top: 70%;
  left: 80%;
}
.container #btn-down {
  
  top: 40%;
  left: 20%;
  
}
.logo #pizza-logo{
   
  Font-size: calc(0.9rem + 7vmin); 
  top: 50%;
  
  
}    

}
@media screen and (max-width: 630px) {
.logo #pizza-logo{
   
  Font-size: calc(0.8rem + 6vmin); 
  
  
}   
} 
@media screen and (max-width: 700px) {
.navbar-nav #gal-nav {
 
  
  Font-size: calc(0.45rem + 2.5vmin);
 
  
}

.navbar-nav #home-nav {
 left:  8%;
  
  Font-size: calc(0.45rem + 2.5vmin);
  
}
.navbar-nav #res-nav {
      top: 200%; 
  Font-size: calc(0.45rem + 2.5vmin);
  
}

 
}

@media screen and (max-width:575px) {



.text-block1{
    Font-size: calc(0.3rem + 2vmin);
}
.container #btn-down {
  
  top: 60%;
  left: 18%;
  
}
.logo #pizza-logo{
   
  Font-size: calc(0.7rem + 5vmin); 
  
  
}   
}


@media screen and (max-width:480px) {



.navbar-nav #gal-nav {
 
  left: 30%;
  Font-size: calc(0.45rem + 2.5vmin);
 
  
}

.navbar-nav #home-nav {
 left:  -2%;
  
  Font-size: calc(0.45rem + 2.5vmin);
  
}
.navbar-nav #res-nav {
      top: 235%; 
      left: 70%;
  Font-size: calc(0.45rem + 2.5vmin);
  
}

.container #btn-down {
    top: 10%;
  left: 25%;
  
}
.container #btn-up {
  
  top: 75%;
  left: 75%;
}
.logo #pizza-logo{
   
  left: 45%;
  
  
}  
.text-block1{
    max-width: 350px;
  
}
    

}
