@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Tangerine:wght@400;700&display=swap");

/*--------------------------------heading*/

.logo {
	background-color: rgb(0, 140, 69);
	font-family: Lato, sans-serif;
	letter-spacing: 5px;
	height: 60px;
	left: 0px;
	max-width: 33.33%;
	border: 1px solid black;
}

.logo h2 {
	font-size: 2em;
	margin-top: 13px;
}

a {
	color: black;
}

.logo2 {
	background-color: #F4F5F0;
	height: 60px;
	max-width: 33.33%;
	border: 1px solid black;
}

.logo1 {
	background-color: rgb(255, 33, 42);
	height: 60px;
	text-align: left;
	max-width: 33.33%;
	border: 1px solid black;
}

header {
	border: 1px solid black;
}

#reservation {
	color: rgb(255, 33, 42);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 33, 42)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}


/*--------------------------------section index.html*/
#carousel-index {
	padding-bottom: 10rem;
}

.carousel-indicators{
	padding-bottom: 10rem;
}

#background-index {
	background-image: linear-gradient( rgb(255, 33, 42), #F4F5F0);
}

#image-header {
	display: block;
	margin: 0px auto;
	text-align: center;
	height: 2.5rem;
	margin-top: 4px;
	animation-name: pizza-zoom;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

p {
	font-family: Lato, san-serif;
	letter-spacing: 3px;
}

.button-carousel {
	padding: 5px;
	position: relative;
	bottom: 20px;
	background-color: rgb(255, 33, 42);
}

div.transbox {
	margin-bottom: 30rem;
    margin-left:17rem;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

div.transbox h3 {
	margin: 5%;
	font-weight: bold;
	color: black;
}

div.transbox a {
	font-weight: bold;
}

#image-old {
	filter: grayscale(70);
}


/*--------------------------------animation icon in the middle of the header*/

@keyframes pizza-zoom {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}


/*---------------------------------footer*/

#footer {
	background-color: #F4F5F0;
	padding-top: 25px;
}


/*---------------------------------Reservation*/

input[type=text],
input[type=email],
input[type=tel] {
	width: 20rem;
	background-color: transparent;
	margin-left: 45px;
	border: 1px solid black;
	border-radius: 4px;
}

label {
	margin-left: 45px;
}

input[type=time],
input[type=date],
select,
#input-note,
#input-children,
#input-adult {
	background-color: transparent;
	border-radius: 4px;
	margin-left: 45px;
	border: 1px solid black;
}

input[type=time] {
	width: 13rem;
	margin-left: 45px;
	border: 1px solid black;
}

input[type=date] {
	width: 13rem;
	margin-left: 45px;
	border: 1px solid black;
}

select {
	max-width: 4rem;
}

#input-note {
	width: 20rem;
	margin-left: 45px;
	border: 1px solid black;
}

#descr-res {
	text-align: center;
	font-family: Lato, sans-serif;
	font-size: 2.5em;
	color: black;
	padding-top: 40px;
	padding-bottom: 30px;
}

#form-section {
	background: url("../img//background-reservation.jpg");
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	padding-bottom: 300px;
}

.reservation-button {
	position: relative;
	left: 48px;
	margin-top: 20px;
	background-color: rgb(255, 33, 42);
}

.name-form {
	margin-top: 20px;
}

.reservation-form {
	margin: 0 auto;
	background-color: rgba(248, 246, 246, 0.85);
	border-radius: 5px;
	max-width: 28.125rem;
	box-shadow: 5px 5px 15px 4px #999;
	padding-bottom: 180px;
	font-weight: bold;
}


/*---------------------------------gallery*/
#background-image {
	background: url("../img/background-gallery.jpg");
	background-repeat: no-repeat no-repeat;
	background-size: cover;
}

#title-gallery {
	padding-top: 30px;
	font-family: Lato, sans-serif;
	letter-spacing: 3px;
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
}

.gallery-container {
	margin: 80px 10px 0 10px;
}

.img-gallery {
	border-radius: 10%;
	box-shadow: 5px 5px 15px 4px #999;
}


/*--------------hover*/

a:hover {
	color: lightgray;
	text-decoration: none;
}

.img-gallery:hover {
	box-shadow: 5px 5px 15px 4px whitesmoke;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=date]:hover,
input[type=time]:hover {
	border: 1px solid whitesmoke;
	border-radius: 3px;
}

#input-adult:hover,
#input-children:hover,
#input-note:hover {
	border: 1px solid whitesmoke;
	border-radius: 3px;
}

.nav-item.active,
.navbar-nav .nav-item:hover .nav-link {
	color: rgb(0, 140, 69);
}

.navbar-brand:hover,
#reservation:hover {
	color: rgb(0, 140, 69);
}


/*         ---------media screen header*/

@media screen and (max-width:1040px) {
	div.transbox {
		margin-bottom: 10rem;
	}
}

@media screen and (max-width:575px) {
	div.transbox {
		margin-bottom: 0.1rem;
	}
	.button-carousel {
		bottom: 10px;
	}
}

@media screen and (max-width:490px) {
	.reservation-form {
		max-width: 24rem;
	}
	input[type=text],
	input[type=email],
	input[type=tel],
	#input-note {
		width: 17rem;
	}
}

@media screen and (max-width:430px) {
	.reservation-form {
		max-width: 23rem;
	}
}

@media screen and (max-width:390px) {
	div.transbox h3 {
		font-size: 1em;
	}
	.button-carousel {
		font-size: 0.70em;
	}
	.reservation-form {
		max-width: 19rem;
	}
	input[type=text],
	input[type=email],
	input[type=tel],
	#input-note {
		width: 15rem;
	}
}